version: "3.8"

services:
  mariadb:
    container_name: mariadb
    networks:
      - inception
    expose:
      - "3306"
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    # build: ./requirements/mariadb/.
    env_file: .env
    # restart:
    volumes:
      - mariadb:/var/lib/mysql

  nginx:
    container_name: nginx
    networks:
      - inception
    ports:
      - "443:443"
    depends_on:
      - wordpress
    build:
      context: requirements/nginx
      dockerfile: Dockerfile
    # build: ./requirements/nginx/.
    env_file: .env
    # restart:
    volumes:
      - wordpress:/var/www/wordpress
      #- wordpress:/var/www/html

  wordpress:
    container_name: wordpress
    networks:
      - inception
    expose:
      - "9000"
    depends_on:
      - mariadb
    build:
      context: requirements/wordpress
      dockerfile: Dockerfile
    # build: ./requirements/wordpress/.
    env_file: .env
    # restart:
    volumes:
      - wordpress:/var/www/wordpress
      #- wordpress:/var/www/html

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/kmorin/data/mariadb
  wordpress:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/kmorin/data/wordpress

networks:
  inception:
    name: inception
    #driver: bridge