version: "3"

services:
  mariadb:
    container_name: mariadb
    networks:
      - inception
    build:
      context: requirements/mariadb # Localisation du Dockerfile
      dockerfile: Dockerfile        # Nom du Dockerfile
    env_file: .env
    volumes:
      - mariadb_vol:/var/lib/mysql # le volume mariadb_vol est mounted sur le chemin /var/lib/mysql pour la DB
    # restart:
    # expose:
    #   - "3306"

  nginx:
    container_name: nginx
    networks:
      - inception
    ports: # ouverture du port vers l'exterieur du network
      - "443:443" # rend accessible le container depuis l'exterieur HOST_PORT:CONTAINER_PORT
    depends_on:
      - wordpress
    build:
      context: requirements/nginx
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - wordpress_vol:/var/www/wordpress # le volume wordpress_vol est mounted sur le chemin /var/www/wordpress pour NGINX
    # restart:

  wordpress:
    container_name: wordpress
    networks:
      - inception
    depends_on:
      - mariadb
    build:
      context: requirements/wordpress
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - wordpress_vol:/var/www/wordpress # le volume wordpress_vol est mounted sur le chemin /var/www/wordpress pour NGINX
    # restart:
    # expose:
    #   - "9000"

volumes:
  mariadb_vol:
    name: mariadb_vol
    driver: local
    driver_opts:
      device: /Users/kmorin/data/mariadb
      type: none
      o: bind
  wordpress_vol:
    name: wordpress_vol
    driver: local
    driver_opts:
      device: /Users/kmorin/data/wordpress
      type: none
      o: bind

# definition d'un network appele 'inception' et de type 'bridge'
networks:
  inception:
    driver: bridge