version: "3.8"

services:
  mariadb:
    container_name: mariadb
    networks:
      - inception
    expose:
      - "3306"
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    env_file: .env
    restart: unless-stopped
    volumes:
      - mariadb:/var/lib/mysql

  nginx:
    container_name: nginx
    networks:
      - inception
    ports:
      - "443:443"
    depends_on:
      - wordpress
    build:
      context: requirements/nginx
      dockerfile: Dockerfile
    env_file: .env
    restart: on-failure
    volumes:
      - wordpress:/var/www/wordpress

  wordpress:
    networks:
      - inception
    expose:
      - "9000"
    depends_on:
      - mariadb
    build:
      context: requirements/wordpress
      dockerfile: Dockerfile
    env_file: .env
    restart: on-failure
    volumes:
      - wordpress:/var/www/wordpress

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/kmorin/data/mariadb
  wordpress:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/kmorin/data/wordpress

networks:
  inception:
  #inception:
    #driver: bridge